body {
    font-family: monospace, sans-serif;
    background-image: url('../images/fundo-calendario.webp');
    background-size: cover;
    color: #333;
}

h1 {
    text-align: center;
    color: #000;
    font-size:   2.5em;
    margin-bottom:   20px;
}

.coluna {
    max-width:   180px;
    word-wrap: break-word;
    border-right:   1px solid #ddd;
}

table {
    width:   80%;
    margin:   0 auto;
    border-collapse: collapse;
}

th, td {
    padding:   8px;
    text-align: center;
    border-right:   1px solid #ddd;
}

th {
    color: #333;
}

.tarefa {
    background-color: #fff;
    border:   1px solid #ddd;
    padding:   15px;
    margin-bottom:   15px;
    border-radius:   5px;
    box-shadow:   0   2px   4px rgba(0,   0,   0,   0.1);
    width:   150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-centralizada {
    display: block;
    margin: 0 auto; 
}

.descricao-horario {
    display: flex;
    flex-direction: column;
}

.horario-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-tarefa {
    font-size:   18px;
    font-weight: bold;
    color: #333;
    margin-bottom:   5px;
}

.descricao-tarefa {
    font-size:   14px;
    color: #666;
    margin-bottom:   5px;
}

.horario-tarefa {
    margin-left:   5px;
}

.imagem-horario {
    width:   20px;
    height:   20px;
    margin-right:   5px;
}

.gerenciar-button {
    padding:   5px   10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius:   5px;
    cursor: pointer;
    display: inline-block;
    margin-top:   10px;
    text-decoration: none;
}

.voltar-button {
    padding:   5px   10px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius:   50px;
    cursor: pointer;
    display: inline-block;
    margin-bottom:   20px;
    text-decoration: none;
}

.voltar-button img {
    width:   35px;
    height: auto;
    border-radius:   55%;
    padding:   5px;
}

.voltar-button img:hover {
    opacity:   0.8;
    transition: opacity   0.3s ease;
}

/* Estilos para a lista de tarefas */
.coluna ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding:  0;
    margin:  0;
}

.coluna ul li {
    padding:  0;
    margin:  0;
}


