
body {
    font-family: 'Aleo', sans-serif;
    background-image: url('../images/fundo3.jpg');
    background-size: cover;

}
h1 {
    text-align: center;
}

.coluna {
    max-width: 180px; /* Define o tamanho máximo da coluna */
    word-wrap: break-word; /* Quebra de palavra */
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
th, td {
    padding: 8px; 
    text-align: center; 
    border-right: 2px solid black;
}
.coluna ul {
    list-style-type: none;
    padding: 0;
}

.tarefa {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona sombra sutil */
}

.descricao-horario {
    display: flex;
    flex-direction: column;
}

.nome-tarefa {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.descricao-tarefa {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px; /* Reduzido o espaço entre a descrição e o horário */
}

.horario-tarefa {
    font-size: 12px;
    color: #888;
}


.gerenciar-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}