body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 400px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: grid;
    grid-gap: 15px; /* Reduzindo o espaço entre os elementos do formulário */
}

label {
    font-weight: bold;
    margin-bottom: 5px; /* Adicionando uma pequena margem inferior para separar os rótulos dos campos */
}

input[type="text"],
input[type="time"],
input[type="date"],
select#dia_semana,
textarea {
    width: calc(100% - 20px); /* Ajustando a largura dos campos para ocupar quase toda a largura do contêiner */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button{
	background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;	
}
button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    width: 100%; /* Fazendo o botão de envio ocupar toda a largura disponível */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="date"],
select#dia_semana {
    width: calc(50% - 10px); /* Define a largura dos inputs para ocupar metade da largura do container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

/* Ajuste de margem para os inputs */
input[type="date"] {
    margin-right: 10px; /* Adiciona uma margem à direita para separar os inputs */
}

select#dia_semana {
    margin-left: 10px; /* Adiciona uma margem à esquerda para separar os inputs */
}

textarea {
    resize: vertical;
    min-height: 80px; /* Reduzindo um pouco a altura mínima do textarea */
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
