@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size:16px;
    min-height: 100%;
    line-height: 1;
    background-image: url('../images/padrao-de-fundo4.png');
    background-size: auto; 
    background-size: 20%;
    background-repeat: repeat; 
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    #logo-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .logo {
        width: 50%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    nav ul {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    #logo-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .logo {
        width: 70%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #login-cadastro {
        margin-top: 10px;
    }
}

header {
    background: linear-gradient(to right, #63BCE1, #6387E1);
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55DAA1;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #55DAA1;
    margin-right: 20px;
}

.button-link:hover {
    background-color: #4DB68C;
    border-color: #4DB68C; 
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav li {
    margin-right: 20px;
}

#logo-container {
    margin-left: auto; 
    margin-right: 20px; 
}

.logo {
    width: 30%; 
    height: auto;
    margin-left: 20px; 
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

nav #login-cadastro {
    margin-left: auto; 
}

#features,
#about,
#welcome {
    padding: 5%;
    text-align: center;
    margin: 0;
}

#features ul {
    list-style: none;
    padding: 0;
}

#features li {
    display: inline-block;
    margin: 0 20px;
}

#about a.button-link {
    margin-top: 20px; 
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.features {
    background: linear-gradient(to right, #63BCE1, #6387E1);
    
}


#welcome {
    background-color: rgba(99, 188, 225, 0.3);
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
}

#welcome h2{
	font-size:60px;
	margin-bottom:50px;
	margin-top:50px;
}

#welcome p{
	font-size:30px;
	margin-bottom:50px;
}

#welcome-image {
    width: 300px; /* Defina a largura desejada para a div que envolve a imagem */
    height: auto; /* Mantenha a altura automática para manter a proporção da imagem */
}

#welcome-image img {
    width: 100%; /* A imagem ocupará toda a largura da div */
    height: auto; /* Mantenha a altura automática para manter a proporção da imagem */
}


#logo-container {
    margin-right: auto; 
    margin-left: 20px; 
}

.flex-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 20px;
}

.feature img {
    max-width: 20%;
    height: auto;
    margin-bottom: 10px;
}

.features h1 {
    font-size: 30px;
	margin-bottom: 35px;
}

.feature p {
    font-size: 16px;
}

#about {
    padding: 30px 10%; 
}

#about .button-link {
    padding: 15px 30px; 
    font-size: 18px;
}

.about-content {
    display: flex;
    align-items: left;
}

.about-text {
    flex: 1; 
    margin-left: 0; 
    text-align: left; 
}

.about-text h1 {
    margin-bottom: 50px; /* Adiciona margem inferior ao título */
    font-size:40px;
}

.about-text p {
    font-size:25px; /* Adiciona margem inferior ao título */
}


.about-image {
    width: 35%; /* Diminuindo a largura da imagem */
}

.about-image img {
    width: 100%; 
    height: auto; 
}

/* Adicione estilos específicos para dispositivos menores, se necessário */
@media only screen and (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
        grid-row-gap: 20px; 
        text-align: center;
    }
    .about-image {
        order: -1; /* Inverte a ordem da imagem para que ela apareça acima do texto em dispositivos menores */
    }
}

footer {
    background: linear-gradient(to right, #63BCE1, #6387E1);
    color: #000;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}
