body {
    font-family: monospace, sans-serif;
    background-image: url('../images/background-tarefa.jpg');
    background-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.button-wrapper {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}



.tarefa {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto 50px;
    max-width: 600px;
    position: relative;
}

.tarefa h2 {
    margin-top: -20px; 
    background-color: #f0f0f0; 
    padding: 10px 30px;
    text-align: center;
    margin-left: -20px; 
    margin-right: -20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}


.tarefa p {
    margin-top: 20px;
}

.horario {
    font-size: 20px;
    color: #000;
    position: absolute;
    top: 15px;
    right: 15px;
}

.excluir {
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #dc3545;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.editar {
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 120px;
    background: #007bff;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


