body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 34px;
}

.container {
    display: flex;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.left-half,
.right-half {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.imgLogin {
    width: 115%;
    height: auto;
    margin-bottom: 20px;
}

.left-half {
    background-color: white;
}

.right-half {
    background: linear-gradient(to right, #63BCE1, #6387E1);
    color: black; /* Set text color to black for better visibility */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    margin-bottom: 8px;
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    box-shadow: 3px 3px 6px rgba(3, 3, 255, 0.1); /* Add slight shadow to input */
}

button {
    padding: 10px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 8px; /* Round corners for button */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 20px; /* Slightly smaller font size */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Add slight shadow to button */
}

.cadastrar-button {
    width: 270px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 40px;
}

form a {
    color: black;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 20px; 
    font-family: 'Inter';
    font-weight: lighter;
    
}

form p {
    font-size: 18px; /* Set the font size for the paragraph containing "Já possui uma conta?" */
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: lighter;
}


.or-line {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: lighter;
    font-size: 20px;
    position: relative; /* Add relative positioning to the .or-line container */
}

.or-line::before,
.or-line::after {
    content: "";
    position: absolute;
    width: 50%; /* Set the width to half of the container's width */
    height: 1px;
    background-color: white;
    top: 50%; /* Position the line in the center vertically */
}

.or-line::before {
    left: 0; /* Position the line on the left side of the container */
}

.or-line::after {
    right: 0; /* Position the line on the right side of the container */
    
}

.or-line span {
    color: white;
}



.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-buttons button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10px;
}

.social-buttons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


